[DEFAULT]
openai_api_key = YOUR_OPENAI_API_KEY
openai_base_url = https://api.openai.com/v1

[SPECSGEN]
model = gpt-4.1
temp = 0
max_specgen_num = 5

[INVSGEN]
model = gpt-4.1
temp = 0
max_invgen_num = 5

[TRANS]
model = gpt-4.1
temp = 0
max_fixing_iterations = 3
max_test_gen_iterations = 3
test_cases_num = 10
